# Backend secrets
backend/.env
.env

# Frontend secrets
frontend/.env

# Python
backend/venv/
venv/
__pycache__/

# Storio uploaded files
storage/

# Node
frontend/node_modules/
node_modules/

# Vite
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
backend i frontend nov.zip
.gitignore.save
