DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME

SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=api
SMTP_PASSWORD=OVDE_IDE_MAILTRAP_API_TOKEN
SMTP_FROM_EMAIL=noreply@storiocloud.net

API_URL=https://api.storiocloud.net
FRONTEND_URL=https://storiocloud.net
